body{
    background-color: #FFEED6;
    gap: 20px;
    display: flex;
}
.menu{
    background-color: #244434;
    height: 98vh;
    width: 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 160px;
    margin-top: 10px;
    border-radius: 80px;
}
.menu ul{ 
    font-size: 32px; 
    list-style: none; 
    padding: 0; 
} 
.menu li{
    margin: 10px; 
    background-color: #A57548; 
    padding: 10px; 
    text-align: center; 
    width: 120px; 
    font-family: 'Futura LT', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #0D1F22;
}
.menu li:hover{ 
    cursor: pointer; 
    background-color: rgb(225, 194, 129, 0.8); 
}
.principal{
    height: 98vh;
    width: 78vw;
    display: flex;
    flex-direction: column;
}
.titulo{
    display: flex;
    font-size: 60px;
    font-family: 'Arkusi', sans-serif;
    margin: 5px;
    color: #244434;
    align-content: center;
    justify-content: center;
}
.subtitulo{
    font-size: 40px;
    font-family: 'Arkusi', sans-serif;
    margin: 5px;
    margin-top: 50px;
    color: #A57548;
}
article{
    color: #0D1F22;
    font-family: 'Qlarendon', sans-serif;
}
